.slider-containner {
/* width: 100%; */
height: 90vh;
/* position: relative; */
/* opacity: .7; */
/* z-index: -1; */
background-color: black;
}

.img-slider-img {
object-fit: cover;
width: 100%;
height: 100%;
display: block;
animation: fade-out linear forwards;
animation-timeline: view() !important;
animation-range: exit;
/* top: 0px; */
transition: opacity 1.5s ease-in-out;
}

.img-slider-btn {
all: unset;
display: block;
position: absolute;
top: 0;
bottom: 0;
color: white;
padding: 1rem;
width: 2rem;
/* height: 2rem; */
transition: background-color 100ms ease-in-out;
}

.img-slider-btn:hover {
background-color: rgb(0, 0, 0, 0.2);
cursor: pointer;
}

.img-slider-btn > * {
    stroke: white;
    fill: black;
}

.academy-cred {
    position: absolute;
    display: flex;
    top: 0;
    align-items: center;
    bottom: 0;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin: 0px 25%;
}

.book-btn {
    height: 35px;
    width: 100px;
    cursor: pointer;
}

@keyframes fade-out {
    100%{opacity: 0; scale:1.5; }
}