.navbar-containner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: #1B2C51 !important;
    color: white;
}

.logo-wrapper {

}

.logo {
    margin: 0;
    padding: 0;
    padding-left: 30px;
}

.link-wrapper {
    display: flex;
    gap: 20px;
    padding-right: 30px;
}

.navbar-link {
    cursor: pointer;
    outline: none;
    caret-color: transparent;
}

 