.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: #1B2C51 !important;
    color: white;
    z-index: 1;
    position: relative;
}

.nav-bar { 
display: none;
}

.logo {
    margin: 0;
    padding: 0;
    padding-left: 30px;
}

.link-wrapper {
    display: flex;
    gap: 20px;
    padding-right: 30px;
}

.navbar-link {
    cursor: pointer;
    outline: none;
    caret-color: transparent;
}
.navbar-link:hover {
    color: #0463FA !important;
}

.mobile-menu {
    display: none; /* Hide the mobile menu initially */
    flex-direction: column;
    cursor: pointer;
    padding: 25px;
    caret-color: transparent;
}

.bars {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

@media (max-width: 576px) {

  }

@media (max-width: 768px) {
    .nav-bar {
        border-bottom: 1px solid white;
        width: 50%;;
        padding: 0px;
        margin-left: 30px;
        display: flex;
    }



    .link-wrapper {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #1B2C51;
        z-index: 1;
    }

    .navbar-link {
        padding: 15px;
        text-align: start;
        padding-left: 30px;
    }


    .navbar-container.open .link-wrapper {
        display: flex; /* Show the links when the menu is open */
    }

    .mobile-menu {
        display: flex; /* Show the mobile menu icon on small screens */
    }

    .bars.open:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .bars.open:nth-child(2) {
        opacity: 0;
    }

    .bars.open:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}
